:root {
    /* Color Palette */
    --background-color--light-mode: rgb(240, 240, 240);
    --text-color--light-mode: rgb(20, 20, 20);

    --background-color--dark-mode: rgb(20, 20, 20);
    --text-color--dark-mode: rgb(240, 240, 240);
}
