* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TODO: Separate this as "variables.css", "reset.css" or "normalize.css"... */

/* TODO: Set root element for rem to 16px */
/* TODO: Set copyright free font */
